<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">アカウント情報編集</h2>

      <%= form_with model:@user, url: registration_path(resource_name), method: :put do |f| %>
        <%#= render "devise/shared/error_messages", resource: resource %>
        <div class = 'field'>
          <%= f.label :nickname, "ユーザー名" %>
          <%= f.text_field :nickname, autofocus: true, class: "form-control", placeholder: "ニックネーム" %>
        </div>

        <div class = 'field'>
          <%= f.label :email, "メールアドレス" %>
          <%= f.email_field :email,  autocomplete: "email", class: "form-control", placeholder: "xxx@email.com" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.label :password, "パスワード変更" %><i> (変更したい場合)</i>
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "半角英数6文字以上" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, "パスワード変更(確認)" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "再度ご入力ください" %>
        </div>

        <div class="field">
          <%= f.label :current_password %> <i>(変更にはパスワードが必要です)</i><br />
          <%= f.password_field :current_password, autocomplete: "current-password",class: "form-control", placeholder: "必須項目です" %>
        </div>

        <div class="actions">
        <%= f.submit "変更する", class: :form__btn %>
        <%= link_to  "マイページへ", edit_user_registration_path, class: "link-below-user-form" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
  
