<main class="main">
  <div class="inner">
  <div class='search-bar-contents'>
    <form class="search-form" action="#">
      <input class='input-box' placeholder='キーワードから探す'>
      <button class="search-button">
        <%= image_tag "search.png", class:"search-icon" %>
      </button>
    </form>
  </div>
  <div class='navi'>
    <ul class='lists-left'>
      <li><%= link_to 'カテゴリー', 'categories/show', class: "category-list" %></li>
    </ul>
    <%# ログインしているときは以下を表示 %>
    <% if user_signed_in?%>
       <div class="greeting"> 
         <%= "Hello! " %>
         <%= link_to "#{current_user.nickname}", edit_user_registration_path, class: :greeting__link%>
       </div>
       <% end %>
    <%# // ログインしているときは上記を表示する %>
    <div class='item-contents'>
    <h2 class='title'></h2>
    <div class="subtitle" >

    </div>
    <ul class='item-lists'>
  <% if user_signed_in?%>

    <div class="item__wrapper">
    <ul class='item-lists'>
    <% @items.each do |item| %>
    <% if current_user.id == item.user_id %>
    <li class='list'>
        <%= link_to item_path(item.id) do %>
     <div class='item-img-content'>
          <%= image_tag item.image, class: "item-img" %>
     <% end %>
     <% end %>
  <% end %>
  <% end %>
  </div>
  </div>
</main>
